
<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">
        Edit Campground
    </h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title"> Title </label>
                <input class="form-control" type="text" id="title"
                 value="<%=campground.title %>" required
                name="campground[title]">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="location"> Location </label>
                <input class="form-control" type="text" id="location"
                value="<%=campground.location %>" required
                name="campground[location]">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image"> Image Url </label>
                <input class="form-control" type="text" id="image" 
                value="<%=campground.image %>" required
                name="campground[image]">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price"> Campground Price </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input id="price" type="text" class="form-control" 
                        placeholder="0.00" aria-label="Username" 
                        aria-describedby="price-label"  required
                        value="<%=campground.pricea %>"
                        name="campground[price]">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description"> Title </label>
                <textarea class="form-control" type="text" 
                id="description" required
                name="campground[description]"><%= campground.description %>
                </textarea> 
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="my-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Camground</a>
         
    </div>
</div>